.row{
	background-color:white;
}

.box{
	height:200px;
	background-color:orange;
}

.navbar{
	background-color:#222222 !important;
	text-transform:uppercase;
	font-family:'PT sans Narrow', Arial, Sans-serif;
	font-weight:700;

}
.navbar a {
	color:#fff !important;
	opacity:0.7;
}

.navbar a:hover{
	opacity:1;
	background-color:#111111;
}